<% layout("/layouts/boilerplate.ejs") %>

<div class="container mt-4 show-para">

  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <h3 class="text-center mb-4"><%= list.title %></h3>

      <div class="card listing-card">

        <!-- Image -->
        <img src="<%= list.image.url %>" 
             class="card-img-top show-img" 
             alt="listing_image">

        <!-- Card Body -->
        <div class="card-body">

          <!-- Title -->
           <p class="card-text">
             Owned by   <i><%= list.owner.username %></i>
          </p>


          <!-- Description -->
          <p class="card-text">
            <%= list.description %>
          </p>

          <!-- Price -->
          <p class="card-text fw-bold">
            ₹ <%= list.price.toLocaleString("en-IN") %>
          </p>

          <!-- Location -->
          <p class="card-text text-muted">
            <%= list.location %>, <%= list.country %>
          </p>

          <!-- Buttons -->
  <% if( currentUser && currentUser._id.equals(list.owner._id)) {%>
        
          <div class="d-flex justify-content-between mt-3">

            <a href="/listing/<%= list._id %>/edit" 
               class="btn btn-dark">
               Edit
            </a>

            <form action="/listing/<%= list._id %>?_method=DELETE" 
                  method="post">
              <button class="btn btn-danger">
                Delete
              </button>
            </form>

          </div>
        
<% } %>
        </div>

      </div>

    </div>
  </div>


 
  <div class="col-8 offset-3 mb-3">
     <% if( currentUser ) {%>
    <hr>
    <h4>Leave a comment</h4>
    <form action="/listing/<%= list._id %>/review" method="post"  class="needs-validation" novalidate>
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" >
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label"> Comment</label>
        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
         <div class="invalid-feedback">
      Please enter a review content
    </div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>

    <hr>
    <br>

    <% } %>
      <p><b>all reviews</b></p>
<div class="row">
    
      <% for(review of list.reviews){ %>
        <div class="card col-5 mb-3 ms-3">
       <h5>@<%= review.author.username %></h5>   
      <p><%= review.rating %> stars</p>
      <p><%= review.comment%></p>


  <form action="/listing/<%= list._id %>/review/<%= review._id %>?_method=DELETE" class="mb-3" method="post">
    <button class="btn btn-sm btn-danger">Delete</button>
  </form>
</div>
  <% } %>
</div>

  </div>

</div>
