<% layout("/layouts/boilerplate.ejs") %>

<div class="container mt-4 show-para">

  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <h3 class="text-center mb-4">Listing Details</h3>

      <div class="card ">

        <!-- Image -->
        <img src="<%= list.image.url %>" 
             class="card-img-top show-img" 
             alt="listing_image">

        <!-- Card Body -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title"><%= list.title %></h4>

          <!-- Description -->
          <p class="card-text">
            <%= list.description %>
          </p>

          <!-- Price -->
          <p class="card-text fw-bold">
            ₹ <%= list.price.toLocaleString("en-IN") %>
          </p>

          <!-- Location -->
          <p class="card-text text-muted">
            <%= list.location %>, <%= list.country %>
          </p>

          <!-- Buttons -->
          <div class="d-flex justify-content-between mt-3">

            <a href="/listing/<%= list._id %>/edit" 
               class="btn btn-dark">
               Edit
            </a>

            <form action="/listing/<%= list._id %>?_method=DELETE" 
                  method="post">
              <button class="btn btn-danger">
                Delete
              </button>
            </form>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>
